<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles/output.css" rel="stylesheet" />
    <title>Page Title</title>
  </head>
  <body>
    <div
      class="flex flex-row justify-between align-center p-20 text-white bg-zinc-900"
    >
      <a href="/" class="font-black text-5xl">AniRec</a>
      <a href="/action" class="font-bold text-2xl">Action</a>
      <a href="/adventure" class="font-bold text-2xl">Adventure</a>
      <a href="/comedy" class="font-bold text-2xl">Comedy</a>
      <a href="/romance" class="font-bold text-2xl">Romance</a>
      <a href="/sci-fi" class="font-bold text-2xl">Sci-fi</a>
    </div>
  </body>
</html>
